#Header{
    background-color: seagreen;
}

.nav-link{
    color: white;
}

.fs-4{
    color: white;
}

.d-block{
    border-radius: 50%;
}

body{
    background-color: white;
}

.container-computerImage{
    margin-top: 100px;
    margin-bottom: 100px;
}